div.subsection {
  width: 100%;
  margin-top: 32px;

  @media screen and (min-width: 1000px) {
    margin-top: 56px;
  }

  h2.subsection-title {
    padding: 16px;
    margin-bottom: 32px;
    background: linear-gradient(90deg, #f1f1f1 0%, rgba(241, 241, 241, 0.2) 99.75%);
    border-radius: 5px;
    color: var(--heading-color);
  }

  div.subsection-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    padding: 0 0 2px 2px;

    @media screen and (min-width: 640px) {
      column-gap: 24px;
    }

    @media screen and (min-width: 1000px) {
      column-gap: 32px;
      width: 100%;
    }
  }
}
