@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Nunito:wght@200;300;400;500;600;700;800&display=swap");

@import "./variables";
@import "./global/global.scss";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;

  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: var(--normal-text-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  p {
    line-height: 127%;
  }
}

#root {
  width: 100%;
  height: 100%;

  div#section-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr 72px;
    grid-template-areas:
      "header"
      "sectionContent"
      "navbar";
    row-gap: 8px;
    background-color: var(--body-background-color);

    overflow: auto;

    @media screen and (min-width: 1000px) {
      grid-template-rows: unset;
      grid-template-columns: unset;
      row-gap: unset;

      display: flex;
      align-items: center;

      background-color: var(--body-background-color);
    }
  }
}
