@import "../../styling/mixins";

nav#desktop-navbar {
  position: sticky;
  top: 0;
  background-color: #f9fbfc;
  width: 250px;
  height: 100%;

  border-right: 2px solid #f0f0f0;
  grid-area: "navbar";

  @media screen and (max-width: $size-desktop) {
    display: none;
  }

  display: grid;
  grid-template-rows: auto auto 1fr auto;
  row-gap: 42px;

  padding: 32px 24px;

  font-size: 18px;

  flex-shrink: 0;

 span#logo {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  } 

  div#profile {
    padding: 16px;
    background-color: #f6f6f6;

    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 12px;
  }

  div#avatar {
    width: 50px;
    height: 50px;
    background-color: #76deff;
    border-radius: 50%;
  }

  div#info {
    font-weight: bold;
    color: #737373;

    display: flex;
    align-items: center;
  }

  ul#menu {
    @include flex-center-center(column);
    padding: 0px;
    gap: 16px;

    list-style-type: none;

    li {
      width: 100%;
      height: 40px;

      display: flex;
      align-items: center;
    }

    li > a {
      margin-left: 25%;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    li > a > .nav-icon {
      width: 24px;
      display: flex;
    }

    li.main-color-gradient a span {
      color: #f1f1f1;
      font-weight: bold;
    }

    li img {
      width: 18px;
      height: 18px;
    }

    li span {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;

      color: #737373;
    }
  }

  #settings {
    border: none;
    background-color: transparent;
    padding: 16px 0;
    font-size: 16px;
    color: #333;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #settings > svg {
    margin-right: 8px;
  }
}

header#mobile-header {
  width: 100%;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  span#logo {
    font-size: 32px;
    font-weight: 500;
    color: #333;
  }

  div#profile {
    display: flex;
    align-items: center;

    div#avatar {
      width: 32px;
      height: 32px;
      background-color: #76deff;
      border-radius: 50%;
      margin: 0 8px;
    }
  }

  @media screen and (min-width: $size-desktop) {
    display: none;
  }
}

nav#mobile-navbar {
  grid-area: navbar;
  padding: 16px 24px;

  @media screen and (min-width: $size-desktop) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

    a {
      text-decoration: none;
      @include flex-center-center(column);

      span {
        color: #737373;
        margin-top: 4px;
      }
    }
  }
}
