div#section-content-holder {
  width: 100%;
  height: 100%;

  > div:not(#side-content) {
    width: 100%;
    min-height: 100%;
    background-color: #f9fbfc;

    padding: 16px;

    @media screen and (min-width: $size-tablet) {
      padding: 32px;
    }

    @media screen and (min-width: $size-desktop) {
      padding: 56px;
      max-width: 1000px;
    }

    .section-title {
      font-weight: 600;
      font-family: "Montserrat";
      margin: 0 0 16px 0;
    }

    .section-description {
      color: $secondary-text-color;
      margin-bottom: 0;
    }
  }

  div.subsection {
    width: 100%;
    margin-top: 32px;

    border-bottom: 2px solid #ECECEC;
    padding-bottom: 32px;
    
    @media screen and (min-width: $size-desktop) {
      margin-top: 56px;
      padding-bottom: 56px;
    }

    h3.subsection-title {
      border-left: 4px solid $secondary-color;
      padding-left: 24px;
      color: $heading-color;
      margin-bottom: 32px;

      @media screen and (min-width: $size-desktop) {
        padding: 16px 0 16px 24px;
      }
    }

    div.subsection-cards {
      width: calc(100vw - 32px);
      overflow-x: auto;
      display: flex;
      column-gap: 32px;
      padding: 0 0 2px 2px;

      @media screen and (min-width: $size-tablet) {
        column-gap: 40px;
      }
  
      @media screen and (min-width: $size-desktop) {
        column-gap: 64px;
        width: 100%;
      }

      .card {
        width: 250px;
        background-color: #fff;
        border-radius: 5px;
        display: inline-block;
        text-decoration: none;
        border: none;
        background-color: 0;
        padding: 0;
        

        &.secondary-color-gradient div.title > span {
          color: #fff;
        }

        div.image {
          width: 250px;
          height: 250px;
          border-radius: 5px 5px 0 0;

          background-position: center;
          background-size: cover;
        }

        div.title {
          height: 46px;
          margin: 8px;
          @include flex-center-center;
        }
      }
    }
  }
}
