nav#mobile-navbar {
  grid-area: navbar;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-background-color);
  padding: 16px 24px;

  z-index: 1;

  @media screen and (min-width: 1000px) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

    a {
      text-decoration: none;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-weight: bold;
      stroke-width: 2;

      &.current {
        svg path {
          stroke: var(--primary-color);
        }
        span {
          color: var(--primary-color);
        }
      }

      span {
        color: var(--secondary-text-color);
        margin-top: 4px;
      }
    }
  }
}
